*{
    box-sizing: border-box;
    margin:0;
  
   
   
}

.wrapper{ 
 display:flex;

}

img{
    margin-top: 20px;
}
.logo{
    text-align: center;
    margin-top:60px;
    padding-top: 25px;
    padding-bottom: 25px;
    width:45%;
    position:absolute;
    font-size: 50px;
    font-family: 'harmonymedium';
    background-color:rgba(256,0,100,10%);
    
}
.background{
    background-image: url("background.jpg");
   
width:45%;
    background-size: cover;
    height:100vh;
}
h1,h1{
    text-align: center;
    margin-top:30px;
}
.form{
    margin:30px;
    font-family: 'harmonymedium';
   display: flex;
   flex-direction: column;
  align-items: center;
  flex:1;
  gap:30px;
  background-color: antiquewhite;
  margin:0;
  

}

form{
    display:flex;
flex-direction: column;

  padding-top:30px;
    font-size: 20px;
    gap: 10px;
   
}



input{
    width: 200px;
    font-size:20px;
}

label{
    width:200px;
}

.item{
    display:flex;
   flex-direction:column;
}
button{
background-color: rgb(249, 184, 184);
    margin-top:20px;
font-size: 30px;
width:100px;
align-self: center;
}


@font-face {
    font-family: 'harmonymedium';
    src: url('/font/harmony_personal_use-webfont.woff2') format('woff2'),
         url('/font/harmony_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}